<h1>Project Detail Page</h1>

<ul >
  <li>Name: <%= projects.name %></li>
  <li>Description: <%= projects.description %></li>
  <li>Author: <%= projects.author %></li>
</ul>

<form action= "<%= `/issue/create-issue/${projects._id}` %>">
 
<button >Creat a issue</button>

<h4>List of bugs on the project</h4>
 
</form>

</br>

<form action="#" method="POST" id="searchIssues">

<label for="title">Title</label>
<input name="title" id="title"  placeholder="Search by title"/>

<label for="description">Description</label>
<input name="description" id="description" placeholder="Search by description"/>


<label for="author">Author</label>
<input name="author" id="author" placeholder="Search by Author"/>

<label for="label">Label</label>

<select
    multiple
    multiselect-search="true"
    name="label"
    style="width: 300px"
    id="label"
    required
  >
    <option value="bug">Bug</option>
    <option value="documentation">Documentation</option>
    <option value="duplicate">Duplicate</option>
    <option value="enhancement">Enhancement</option>
    <option value="good first issue">Good first issue</option>
    <option value="help wanted">Help wanted</option>
    <option value="invalid">Invalid</option>
    <option value="question">Question</option>
    <option value="wontfix">Wontfix</option>
  </select>

  

<button id="search_filter">Filter</button>
  
</form>
<ul class="issue_list">
  <% for (issue of issues) { %>
<li class="issue_detail">
    <p class="issue_title"><%= issue.title %>  </p>   
    <p class="issue_description"><%= issue.issueDescription %>  </p>   
    <p class="issue_author"><%= issue.issueAuthor %> </p>
    <ul>
    <% for (labels of issue.label) { %>
    <li class="issue_label"><%= labels %></li>
    <% } %>
  </ul>
</li>
  <% } %>
</ul>

<script src="/js/multipleSelect.js"></script>
<script src="/js/searchFilter.js" ></script>