<h1 class="title"><%= projects.name %></h1>
  <p class="description"> -<%= projects.description %></p>
  <h3 class="author">-<%= projects.author %></h3>

<form action= "<%= `/issue/create-issue/${projects._id}` %>">
 
<button  class="buttons">Creat a issue</button>

 
</form>

</br>

<form action="#" method="POST" id="searchIssues" class="forms">

<label for="title" class="labels">Title</label>
<input name="title" id="title"  placeholder="Search by title" class="inputs"/>

<label for="description" class="labels">Description</label>
<input name="description" id="description" placeholder="Search by description" class="inputs"/>


<label for="author" class="labels">Author</label>
<input name="author" id="author" placeholder="Search by Author" class="inputs"/>

<label for="label" class="labels">Label</label>

<select
    multiple
    multiselect-search="true"
    name="label"
    style="display: flex;"
    id="label"
    required
    class="inputs"
  >
    <option value="bug">Bug</option>
    <option value="documentation">Documentation</option>
    <option value="duplicate">Duplicate</option>
    <option value="enhancement">Enhancement</option>
    <option value="good first issue">Good first issue</option>
    <option value="help wanted">Help wanted</option>
    <option value="invalid">Invalid</option>
    <option value="question">Question</option>
    <option value="wontfix">Wontfix</option>
  </select>

  

<button id="search_filter" class="buttons">Filter</button>
  
</form>
<div class="list-session">
<ul>
  <% for (issue of issues) { %>
<li class="issue_detail">
    <h2 class="issue_title bug_title"><%= issue.title %>  </h2>   
    <ul class="issue_lists">
      <% for (labels of issue.label) { %>
      <li class="issue_label bugsLabel"><%= labels %></li>
      <% } %>
    </ul>
    <p class="issue_description bug_description"><%= issue.issueDescription %>  </p>   
    <p class="issue_author bug_author"> -<%= issue.issueAuthor %> </p>
  
</li>
  <% } %>
</ul>
</div>
<script src="/js/multipleSelect.js"></script>
<script src="/js/searchFilter.js" ></script>