<h1>Project Detail Page</h1>

<ul>
  <li><%= projects._id %></li>
  <li><%= projects.name %></li>
  <li><%= projects.description %></li>
  <li><%= projects.author %></li>
</ul>

<form action= "<%= `/create-issue/${projects._id}` %>">
 
<button >Creat a issue</button>
</form>

</br>

<button>Filter</button>

<h4>List of bugs on the project</h4>


<!-- issues.map(issue){
  return issue.title
} -->

<ul>
  <% for (issue of issues) { %>
    <li> <%= issue._id %> </li>
    <li> <%= issue.title %> </li>
    <li> <%= issue.issueDescription %> </li>
    <li> <%= issue.issueAuthor %> </li>
   
    <% for (labels of issue.label) { %>
    <li>  <%= labels %> </li>
    <% } %>
  <% } %>
</ul>