<h1>Home Page</h1>
<p>List of projects</p>
<div class="list-session">
  <ul>
    <% for ( i of projects){%>
    <li>
      <div class="input-container">
        <input name="id" value="<%= i._id %>" type="checkbox" />
      </div>
      <div class="data-container">
        <h3><%= i.name%></h3>
        <span class="date-container"
          >
          <i class="fa-solid fa-calendar-days"></i>
          <p><%= i.description%></p></span
        >
      </div>
      <div class="catogery-container">
        <div class="catogery <%= i.category%>"><%= i.author %></div>
      </div>
    </li>
    <% }%>
  </ul>
</div>
<a href="/create-project">create project page</a>

<a href="/detail">Project Detail Page</a>
