<h1>Home Page</h1>
<p>List of projects</p>
<div class="list-session">
  <ul>
    <% for ( i of projects){%>
    <li>
      <div class="data-container">
        <a href="<%= `/project/detail/${i._id}` %>"><%= i.name%></a>
        <span class="date-container">
          <i class="fa-solid fa-calendar-days"></i>
          <p><%= i.description%></p></span
        >
      </div>
      <div class="catogery-container">
        <div class="catogery <%= i.category%>"><%= i.author %></div>
      </div>
    </li>
    <% }%>
  </ul>
</div>

<a href="/project/create-project"> create project page</a>

